include versioneer.py
include RNAdist/_version.py
include RNAdist/DPModels/_dp_calculations.pyx
include *.pyx
include RNAdist/sampling/cpp/*.h
include *tests/*test*.py
include *tests/test_data/*
prune */__pycache__/
prune */.pytest_cache/
global-exclude *.pyc
