
.databox {
	background-color:  #323232;
    height: 100%;
	border-radius: 10px;
	border-color: black;
	border-width: 2px;
	border-style: solid;

}

.Select-value-label {
    color: black !important;
}

.VirtualizedSelectOption {
    color: black;
 }

.VirtualizedSelectFocusedOption {
    background-color: #aae4ee;
    opacity: .7;
}


